*{
    box-sizing: border-box;
}

body{
    margin:0px;
}

header{
    margin: 0px;
    padding: 10px;
    font-size: 16pt;
    text-align: center;
    background-color: grey;
    color: white;
}

.result{
    margin-top: 5rem;
    font-size: 16pt;
    text-align: center;
}

main{
    margin: 0px;
    padding: 0px;
}

.tryAgain{
    margin: 10px;
    font-size: 14pt;
    width: 100%;
    white-space: nowrap;
}

